### Positive or Negative number

In [2]:
def pos_or_neg(x):
    if x>0:
        return "+ve"
    elif x<0:
        return "-ve"
    else:
        return "0"
pos_or_neg(-12)

'-ve'

### Even or Odd number

In [5]:
def even_odd(n):
    if n&1 == 0:
        return "even"
    else:
        return "odd"
even_odd(11)

'odd'

### Sum of First N Natural numbers

In [7]:
def sum_natural(n):
    return n*(n+1)//2
sum_natural(5)

15

### Sum of numbers in a given range

In [8]:
def sum_range(low,high):
    S=0
    for i in range(low,high+1):
        S+=i
    return S
sum_range(1,5)

15

### Greatest of two numbers

In [10]:
def max_2(x,y):
    return x if x>y else y
max_2(111,23)

111

### Greatest of the Three numbers

In [14]:
def max_3(x,y,z):
    maximum=x
    if y>maximum:
        maximum=y
    if z>maximum:
        maximum=z
    return maximum
max_3(100,23,40)

100

### Leap year or not

In [18]:
def Leap_or_not(y):
    if y%400==0:
        return "leap"
    if y%100==0:
        return "non leap"
    elif y%4==0:
        return "leap"
    else:
        return "non-leap"
Leap_or_not(1900)

'non leap'

### Prime number

In [20]:
def prime(x):
    if x==2 or x==3:
        return 1
    for i in range(2,int(x**0.5)+1):
        if x%i==0:
            return 0
    return 1
prime(16)

0

### Prime number within a given range

In [30]:
def prime_range(start,end):
    L=[]
    for i in range(start,end+1):
        if prime(i)==1:
            L.append(i)
    print( L)
prime_range(10,100)

[11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [29]:
def prime_range_op(start,end):
    sieve_start=set(range(2,start+1))
    start_list=set()
    while sieve_start:
        prime=min(sieve_start)
        start_list.add(prime)
        sieve_start-=set(range(prime,start+1,prime))
        
    sieve_end=set(range(2,end+1))
    end_list=set()
    while sieve_end:
        prime=min(sieve_end)
        end_list.add(prime)
        sieve_end-=set(range(prime,end+1,prime))
    print (end_list-start_list)
prime_range_op(10,100)

{67, 71, 73, 11, 13, 79, 17, 19, 83, 23, 89, 29, 31, 97, 37, 41, 43, 47, 53, 59, 61}

### Sum of digits of a number

In [32]:
def sum_digit(n):
    s=0
    while n:
        d=n%10
        n=n//10
        s=s+d
    return s
sum_digit(1001)

2

### Fibonacci Series upto nth term

In [37]:
def fibo(n):
    L=[0,1]
    a=0
    b=1
    for i in range(0,n-2):
        c=a+b
        L.append(c)
        a=b
        b=c
    print (L)
fibo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Power of a number

In [41]:
def power(x,n):
    if n>=1:
        p=1
        for i in range(n):
            p=p*x
        return p
    else:
        return x**n
power(9,.5)

3.0

### Automorphic number

In [49]:
def Autumorphic(n):
    n2=n**2
    copy_n=n
    count=0
    while(n):
        count+=1
        n=n//10
    check=0
    for i in range(count):
        d=n2%10
        check+=d*(10**i)
        n2=n2//10
    return "Y" if check==copy_n else "N"
Autumorphic(25)

'Y'

In [51]:
arr=[7,8,5,2,3]
S=arr[0]
for i in range(1,len(arr)):
    if S>arr[i]:
        S=arr[i]
print(S)

2