# DATA TYPES

    Data Type represent the type of data present inside a variable
    In python we don't need to specify the type it is automatically assigned

#    TYPES OF DATA TYPES
    int,float,complex,bool,str,bytes,bytesarray,range,list,set,tuple,frozenset,dict,None

SEVERAL BUILT-IN FUNCTIONS

In [1]:
a=0
type(a)

int

In [2]:
id(a)

140707369820528

In [3]:
print(a)

0

# int data type

    We can use it to represent whole numbers
    we can represent int values in following ways

In [4]:
#decimal form
a=10
a

10

In [5]:
#binary form
a=0B111
a

7

In [6]:
#octal form
a=0O37
a

31

In [7]:
#hexadeciaml form
a=0XA
a

10

In [8]:
#various function to convert int into.....
a=10
print(bin(a))
print(oct(a))
print(hex(a))

0b1010
0o12
0xa

In [9]:
#simple method to convert a datatype(bin,oct,hex) into int
a="111"
print(int(a,2))
print(int(a,8))
print(int(a,16))

7
73
273

# float data type

    we can use float data type to represent decimal values
    we can also represent floating point values using exponential form

In [10]:
f=1.234
print(f)
d=1.2e3
print(d)

1.234
1200.0

In [11]:
#bin,oct, or hex don't work floating point
f=0b11.11
f

SyntaxError: invalid syntax (<ipython-input-11-4b1f589db9d5>, line 2)

# complex data type

A complex number is of the form a+bj
    where a,b can be both int or float

In the real part we can specify it via bin,oct..... but in imaginary part should be in decimal

In [12]:
a=0b11+0b11j

SyntaxError: invalid syntax (<ipython-input-12-8aecba29c035>, line 1)

In [13]:
a=0b11+11j
a

(3+11j)

In [14]:
print(a.real)
print(a.imag)

3.0
11.0

# bool data type

we can use this datatype to contain values like True and False

In [15]:
b=True

In [16]:
b

True

In [17]:
a=19
b=37
c=a>b
c

False

In [18]:
type(c)

bool

# str type

str represent string data type a string is a se4quence of chracters enclosed within ' ' and " "

In [19]:
s1="durga"
s1

'durga'

In [20]:
s2='durga'
s2

'durga'

In [21]:
s1==s2

True

Multi-line string literal

In [22]:
s1=''' shubham is a good boy 
       he is a great player of Sg@S3TV'''
s1

' shubham is a good boy \n       he is a great player of Sg@S3TV'

    SLICING OF STRING:- 
    slice means a piece,
    [] is a slice operator,
    string folows zero indexing          
    +ve index means in forward direction 
    -ve index means in backward direction

In [23]:
s="shubham"
print(s[1])#chracter at index 1
print(s[len(s)-1])#chracter at index last
print(s[:4])#substring from 0 till 4(not included) 
print(s[1:5])#substring from 1 till 5
print(s[::-1])#reverse string
print(s[::])#string
print(s[4:-1])#substring from 4 till -1(negative index) 
print(s[:4:-1])#substring from right index till 4 in reverse order

h
m
shub
hubh
mahbuhs
shubham
ha
ma

# bytes Data Type

bytes data type repesents a group of byte numbers just like an array

In [24]:
x=[9,26,28,18,28]#only value allowed in bytes datatype is from 0 to 255

In [25]:
b=bytes(x)

In [26]:
x

[9, 26, 28, 18, 28]

In [27]:
type(b)

bytes

In [28]:
for i in b:
    print(i)

9
26
28
18
28

In [29]:
b[0]=45#read error

TypeError: 'bytes' object does not support item assignment

# bytearray DataType

bytearray is same as bytes except its elements value can be modified

In [30]:
ba=bytearray(x)

In [31]:
ba

bytearray(b'\t\x1a\x1c\x12\x1c')

In [32]:
for i in ba:print(i)

9
26
28
18
28

In [33]:
ba[2]=27#mutable

In [34]:
for i in ba:print(i)

9
26
27
18
28

In [35]:
ba[1]=267#read error

ValueError: byte must be in range(0, 256)

# list Data Type

If we want to represent a group of values as a single entity where insertion order required to preserve and duplicates are allowed then we go for list datatype

some of its feratures are:-

    insertion order is preserved
    heterogenous objects are allowed
    duplicates are allowed
    growable in nature

In [36]:
li=[9,"shubham",17+30j,3.3,True]

In [37]:
for i in li:print(type(i))

<class 'int'>
<class 'str'>
<class 'complex'>
<class 'float'>
<class 'bool'>

In [38]:
li[::-1]#slicing in list is same as slicing in string

[True, 3.3, (17+30j), 'shubham', 9]

In [39]:
li[1]="sg@s3tv"#mutable

In [40]:
li

[9, 'sg@s3tv', (17+30j), 3.3, True]

# tuple DataType

tuple datatype is exaxtly same as list datatype except that is immutable in nature;Tuple elements can be represented within {}

In [41]:
sg=(9,"shubham",17+30j,3.3,True)

In [42]:
type(sg)

tuple

In [45]:
sg[1]="sg@s2tv"# read error

TypeError: 'tuple' object does not support item assignment

In [46]:
sg.append("1")

AttributeError: 'tuple' object has no attribute 'append'

In [47]:
sg.remove("friends")# sapne m bhi nhh
#tuple is a read only version of list

AttributeError: 'tuple' object has no attribute 'remove'

# range DataType

range represents a sequence of numbers and they are immutable in nature

In [48]:
r=range(5)#1 form

In [49]:
for i in r:print(i)

0
1
2
3
4

In [50]:
r2=range(1,5)

In [51]:
for i in r2:
    print("(",i,")")

( 1 )
( 2 )
( 3 )
( 4 )

In [52]:
r3=range(50,0,-5)

In [53]:
for i in r3:print(i)

50
45
40
35
30
25
20
15
10
5

In [54]:
r3[0]

50

In [55]:
r3[0]=34#read error

TypeError: 'range' object does not support item assignment

In [56]:
li=list(r)
li

[0, 1, 2, 3, 4]

In [57]:
sett=set(r2)
sett

{1, 2, 3, 4}

In [58]:
tup=tuple(r3)
tup

(50, 45, 40, 35, 30, 25, 20, 15, 10, 5)

In [60]:

dic=dict(r4)

NameError: name 'r4' is not defined

# set DataType

if we want to represent a group of numbers where order is not important and duplicates are not allowed then we use set datatype

    features:-
    insertion order is not preserved
    duplicates are not allowed
    heterogeneous objects are allowed
    index concept is not applicable
    mutable and growable in nature

In [61]:
s={25,24,"shubham g","shubham g"}

In [62]:
s #autumatically removed

{24, 25, 'shubham g'}

In [63]:
s[0] #read error

TypeError: 'set' object is not subscriptable

In [64]:
s.add("mit")

In [65]:
s

{24, 25, 'mit', 'shubham g'}

In [66]:
s.remove(24)
s

{25, 'mit', 'shubham g'}

# frozenset Datatype

It is same as set datatype but it is immutable which means we cannot use add or remove functions

In [67]:
s={10,26,34,23,34}

In [68]:
fs=frozenset(s)

In [69]:
type(fs)

frozenset

In [70]:
fs

frozenset({10, 23, 26, 34})

In [71]:
fs.add("14")# read error it means frozen set doesnot allow any mutubale operation

AttributeError: 'frozenset' object has no attribute 'add'

# dict DataType

If we want to represent a group of values as key-value pairs then we should go for dict datatype

In [72]:
d={"shubham":9,"twi":26,"var":28,"sam":18,"chu":28}#duplicate keys are not allowed but duplicate values are allowed

In [73]:
d

{'shubham': 9, 'twi': 26, 'var': 28, 'sam': 18, 'chu': 28}

In [74]:
#if we try to add duplicate key what will happen
d["shubham"]=14

In [75]:
d #old value is replaced by new value

{'shubham': 14, 'twi': 26, 'var': 28, 'sam': 18, 'chu': 28}

In [76]:
d={"shubham":23,"shubham":28,"shubham":12}

In [77]:
d# all old values are replaced by new defined values

{'shubham': 12}

In [78]:
d["sg"]=19 #addition of new values

In [79]:
d

{'shubham': 12, 'sg': 19}

In [80]:
# dict is mutable and the order wont be preserved

# None DataType

None means no value or null

In [81]:
def sg():
    pass
def s():
    return 1
print(sg()) # sg() returns None 
print(s()) # returns 1

None
1

# Escape Chracters

    \n----->Newline
    \t----->Horizontal Tab
    \r----->Carriage Return
    \b----->Back Space
    \'----->Single quote
    \"----->Double quote
    \\----->back slash symbol

In [82]:
print("what\'s up!")

what's up!

# Constants

Constant concept is not applicable in python,But it is anconvention to use only Upper case if we don't want to change value

In [83]:
MAX_VALUE=99999

However it is just an convention