<!DOCTYPE html>
<html>
<body>
<div align="center">
<h2>Prepared by Asif Bhat</h2>
    
<h1>Numpy Tutorial</h1>
</div>
</body>
</html>

In [1]:
# Import Numpy Library
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from IPython.display import Image

# Numpy Array Creation

In [2]:
list1 = [10,20,30,40,50,60]
list1

[10, 20, 30, 40, 50, 60]

In [3]:
# Display the type of an object
type(list1)

list

In [4]:
#Convert list to Numpy Array
arr1 = np.array(list1)
arr1

array([10, 20, 30, 40, 50, 60])

In [5]:
#Memory address of an array object
arr1.data

In [6]:
# Display type of an object
type(arr1)

numpy.ndarray

In [7]:
#Datatype of array
arr1.dtype

dtype('int32')

In [8]:
# Convert Integer Array to FLOAT
arr1.astype(float)

array([10., 20., 30., 40., 50., 60.])

In [9]:
# Generate evenly spaced numbers (space =1) between 0 to 10
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
# Generate numbers between 0 to 100 with a space of 10
np.arange(0,100,10)

array([ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [11]:
# Generate numbers between 10 to 100 with a space of 10 in descending order
np.arange(100, 10, -10)

array([100,  90,  80,  70,  60,  50,  40,  30,  20])

In [12]:
#Shape of Array
arr3 = np.arange(0,10)
arr3.shape

(10,)

In [13]:
arr3

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
# Size of array
arr3.size

10

In [15]:
# Dimension 
arr3.ndim

1

In [16]:
# Datatype of object
arr3.dtype

dtype('int32')

In [17]:
# Bytes consumed by one element of an array object
arr3.itemsize

4

In [18]:
# Bytes consumed by an array object
arr3.nbytes

40

In [19]:
# Length of array
len(arr3)

10

In [20]:
# Generate an array of zeros
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [21]:
# Generate an array of ones with given shape
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [22]:
# Repeat 10 five times in an array
np.repeat(10,5)

array([10, 10, 10, 10, 10])

In [23]:
# Repeat each element in array 'a' thrice
a= np.array([10,20,30])
np.repeat(a,3)

array([10, 10, 10, 20, 20, 20, 30, 30, 30])

In [24]:
# Array of 10's
np.full(5,10)

array([10, 10, 10, 10, 10])

In [25]:
# Generate array of Odd numbers
ar1 = np.arange(1,20)
ar1[ar1%2 ==1]

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [26]:
# Generate array of even numbers
ar1 = np.arange(1,20)
ar1[ar1%2 == 0]

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

In [27]:
# Generate evenly spaced 4 numbers between 10 to 20.
np.linspace(10,20,4)

array([10.        , 13.33333333, 16.66666667, 20.        ])

In [28]:
# Generate evenly spaced 11 numbers between 10 to 20.
np.linspace(10,20,11)

array([10., 11., 12., 13., 14., 15., 16., 17., 18., 19., 20.])

In [29]:
# Create an array of random values
np.random.random(4)

array([0.00358467, 0.96218838, 0.78983592, 0.48519916])

In [30]:
# Generate an array of Random Integer numbers
np.random.randint(0,500,5)

array([459, 360, 354, 383, 402])

In [31]:
# Generate an array of Random Integer numbers
np.random.randint(0,500,10)

array([474, 142, 490, 464, 242,  15, 282,  49, 238, 375])

In [32]:
# Using random.seed we can generate same number of Random numbers
np.random.seed(123)
np.random.randint(0,100,10)

array([66, 92, 98, 17, 83, 57, 86, 97, 96, 47])

In [33]:
# Using random.seed we can generate same number of Random numbers
np.random.seed(123)
np.random.randint(0,100,10)

array([66, 92, 98, 17, 83, 57, 86, 97, 96, 47])

In [34]:
# Using random.seed we can generate same number of Random numbers
np.random.seed(101)
np.random.randint(0,100,10)

array([95, 11, 81, 70, 63, 87, 75,  9, 77, 40])

In [35]:
# Using random.seed we can generate same number of Random numbers
np.random.seed(101)
np.random.randint(0,100,10)

array([95, 11, 81, 70, 63, 87, 75,  9, 77, 40])

In [36]:
# Generate array of Random float numbers
f1 = np.random.uniform(5,10, size=(10))
f1

array([6.5348311 , 9.4680654 , 8.60771931, 5.94969477, 7.77113796,
       6.76065977, 5.90946201, 8.92800881, 9.82741611, 6.16176831])

In [37]:
# Extract Integer part
np.floor(f1)

array([6., 9., 8., 5., 7., 6., 5., 8., 9., 6.])

In [38]:
# Truncate decimal part
np.trunc(f1)

array([6., 9., 8., 5., 7., 6., 5., 8., 9., 6.])

In [39]:
# Convert Float Array to Integer array
f1.astype(int)

array([6, 9, 8, 5, 7, 6, 5, 8, 9, 6])

In [40]:
# Normal distribution (mean=0 and variance=1)
b2 =np.random.randn(10)
b2

array([ 0.18869531, -0.75887206, -0.93323722,  0.95505651,  0.19079432,
        1.97875732,  2.60596728,  0.68350889,  0.30266545,  1.69372293])

In [41]:
arr1

array([10, 20, 30, 40, 50, 60])

In [42]:
# Enumerate for Numpy Arrays
for index, value in np.ndenumerate(arr1):
    print(index, value)

(0,) 10
(1,) 20
(2,) 30
(3,) 40
(4,) 50
(5,) 60

# Operations on an Array

In [43]:
arr2 = np.arange(1,20)
arr2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19])

In [44]:
# Sum of all elements in an array
arr2.sum()

190

In [45]:
# Cumulative Sum
np.cumsum(arr2)

array([  1,   3,   6,  10,  15,  21,  28,  36,  45,  55,  66,  78,  91,
       105, 120, 136, 153, 171, 190], dtype=int32)

In [46]:
# Find Minimum number in an array
arr2.min()

1

In [47]:
# Find MAX number in an array
arr2.max()

19

In [48]:
# Find INDEX of Minimum number in an array
arr2.argmin()

0

In [49]:
# Find INDEX of MAX number in an array
arr2.argmax()

18

In [50]:
# Find mean of all numbers in an array
arr2.mean()

10.0

In [51]:
# Find median of all numbers present in arr2
np.median(arr2)

10.0

In [52]:
# Variance
np.var(arr2)

30.0

In [53]:
# Standard deviation
np.std(arr2)

5.477225575051661

In [54]:
# Calculating percentiles
np.percentile(arr2,70)

13.6

In [55]:
# 10th & 70th percentile
np.percentile(arr2,[10,70])

array([ 2.8, 13.6])

# Operations on a 2D Array

In [56]:
A = np.array([[1,2,3,0] , [5,6,7,22] , [10 , 11 , 1 ,13] , [14,15,16,3]])
A

array([[ 1,  2,  3,  0],
       [ 5,  6,  7, 22],
       [10, 11,  1, 13],
       [14, 15, 16,  3]])

In [57]:
# SUM of all numbers in a 2D array
A.sum()

129

In [58]:
# MAX number in a 2D array
A.max()

22

In [59]:
# Minimum
A.min()

0

In [60]:
# Column wise mimimum value 
np.amin(A, axis=0)

array([1, 2, 1, 0])

In [61]:
# Row wise mimimum value 
np.amin(A, axis=1)

array([0, 5, 1, 3])

In [62]:
# Mean of all numbers in a 2D array
A.mean()

8.0625

In [63]:
# Mean
np.mean(A)

8.0625

In [64]:
# Median
np.median(A)

6.5

In [65]:
# 50 percentile = Median
np.percentile(A,50)

6.5

In [66]:
np.var(A)

40.30859375

In [67]:
np.std(A)

6.348904925260734

In [68]:
np.percentile(arr2,70)

13.6

In [69]:
# Enumerate for Numpy 2D Arrays
for index, value in np.ndenumerate(A):
    print(index, value)

(0, 0) 1
(0, 1) 2
(0, 2) 3
(0, 3) 0
(1, 0) 5
(1, 1) 6
(1, 2) 7
(1, 3) 22
(2, 0) 10
(2, 1) 11
(2, 2) 1
(2, 3) 13
(3, 0) 14
(3, 1) 15
(3, 2) 16
(3, 3) 3

# Reading elements of an array

In [70]:
a = np.array([7,5,3,9,0,2])

In [71]:
# Access first element of the array
a[0]

7

In [72]:
# Access all elements of Array except first one.
a[1:]

array([5, 3, 9, 0, 2])

In [73]:
# Fetch 2nd , 3rd & 4th value from the Array
a[1:4]

array([5, 3, 9])

In [74]:
# Get last element of the array
a[-1]

2

In [75]:
a[-3]

9

In [76]:
a[-6]

7

In [77]:
a[-3:-1]

array([9, 0])

# Replace elements in array

In [78]:
ar = np.arange(1,20)
ar

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19])

In [79]:
# Replace EVEN numbers with ZERO
rep1 = np.where(ar % 2 == 0, 0 , ar)
print(rep1)

[ 1  0  3  0  5  0  7  0  9  0 11  0 13  0 15  0 17  0 19]

In [80]:
ar2 = np.array([10, 20 , 30 , 10 ,10 ,20, 20])
ar2

array([10, 20, 30, 10, 10, 20, 20])

In [81]:
# Replace 10 with value 99
rep2 = np.where(ar2 == 10, 99 , ar2)
print(rep2)

[99 20 30 99 99 20 20]

In [82]:
p2 = np.arange(0,100,10)
p2

array([ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [83]:
# Replace values at INDEX loc 0,3,5 with 33,55,99
np.put(p2, [0, 3 , 5], [33, 55, 99])
p2

array([33, 10, 20, 55, 40, 99, 60, 70, 80, 90])

# Missing Values in an array

In [84]:
a = np.array([10 ,np.nan,20,30,60,np.nan,90,np.inf])
a

array([10., nan, 20., 30., 60., nan, 90., inf])

In [85]:
# Search for missing values and return as a boolean array
np.isnan(a)

array([False,  True, False, False, False,  True, False, False])

In [86]:
# Index of missing values in an array
np.where(np.isnan(a))

(array([1, 5], dtype=int64),)

In [87]:
# Replace all missing values with 99
a[np.isnan(a)] = 99
a

array([10., 99., 20., 30., 60., 99., 90., inf])

In [88]:
# Check if array has any NULL value
np.isnan(a).any()

False

In [89]:
A = np.array([[1,2,np.nan,4] , [np.nan,6,7,8] , [10 , np.nan , 12 ,13] , [14,15,16,17]])
A

array([[ 1.,  2., nan,  4.],
       [nan,  6.,  7.,  8.],
       [10., nan, 12., 13.],
       [14., 15., 16., 17.]])

In [90]:
# Search for missing values and return as a boolean array
np.isnan(A)

array([[False, False,  True, False],
       [ True, False, False, False],
       [False,  True, False, False],
       [False, False, False, False]])

In [91]:
# Index of missing values in an array
np.where(np.isnan(A))

(array([0, 1, 2], dtype=int64), array([2, 0, 1], dtype=int64))

# Stack Arrays Vertically

In [92]:
a = np.zeros(20).reshape(2,-1)
b = np.repeat(1, 20).reshape(2,-1)
a

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [93]:
b

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [94]:
np.vstack([a,b])

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [95]:
a1 = np.array([[1], [2], [3]])
b1 = np.array([[4], [5], [6]])

In [96]:
a1

array([[1],
       [2],
       [3]])

In [97]:
b1

array([[4],
       [5],
       [6]])

In [98]:
np.vstack([a1,b1])

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6]])

# Stack Arrays Horizontally

In [99]:
np.hstack([a,b])

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.]])

In [100]:
np.hstack([a1,b1])

array([[1, 4],
       [2, 5],
       [3, 6]])

# Common items between two Arrays

In [101]:
c1 = np.array([10,20,30,40,50,60])
c2 = np.array([12,20,33,40,55,60])

In [102]:
np.intersect1d(c1,c2)

array([20, 40, 60])

# Remove Common Elements

In [103]:
# Remove common elements of C1 & C2 array from C1

np.setdiff1d(c1,c2)

array([10, 30, 50])

# Process Elements on Conditions

In [104]:
a = np.array([1,2,3,6,8])
b = np.array([10,2,30,60,8])

np.where(a == b) # returns the indices of elements in an input array where the given condition is satisfied.

(array([1, 4], dtype=int64),)

In [105]:
# Return an array where condition is satisfied
a[np.where(a == b)]

array([2, 8])

In [106]:
# Return all numbers betweeen 20 & 35
a1 = np.arange(0,60)
a1[np.where ((a1>20) & (a1<35))]

array([21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34])

In [107]:
# Return all numbers betweeen 20 & 35 OR numbers divisible by 10
a1 = np.arange(0,60)
a1[np.where (((a1>20) & (a1<35)) | (a1 % 10 ==0)) ]

array([ 0, 10, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       40, 50])

In [108]:
# Return all numbers betweeen 20 & 35 using np.logical_and
a1[np.where(np.logical_and(a1>20, a1<35))]

array([21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34])

# Check for elements in an Array using isin()

In [109]:
a = np.array([10,20,30,40,50,60,70])
a

array([10, 20, 30, 40, 50, 60, 70])

In [110]:
# Check whether number 11 & 20 are present in an array
np.isin(a, [11,20])

array([False,  True, False, False, False, False, False])

In [111]:
#Display the matching numbers
a[np.isin(a,20)]

array([20])

In [112]:
# Check whether number 33 is present in an array
np.isin(a, 33)

array([False, False, False, False, False, False, False])

In [113]:
a[np.isin(a, 33)]

array([], dtype=int32)

In [114]:
b = np.array([10,20,30,40,10,10,70,80,70,90])
b

array([10, 20, 30, 40, 10, 10, 70, 80, 70, 90])

In [115]:
# Check whether number 10 & 70 are present in an array
np.isin(b, [10,70])

array([ True, False, False, False,  True,  True,  True, False,  True,
       False])

In [116]:
# Display the indices where match occurred
np.where(np.isin(b, [10,70]))

(array([0, 4, 5, 6, 8], dtype=int64),)

In [117]:
# Display the matching values
b[np.where(np.isin(b, [10,70]))]

array([10, 10, 10, 70, 70])

In [118]:
# Display the matching values
b[np.isin(b, [10,70])]

array([10, 10, 10, 70, 70])

# Reverse Array

In [119]:
a4 = np.arange(10,30)

In [120]:
a4

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29])

In [121]:
# Reverse the array
a4[::-1]

array([29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13,
       12, 11, 10])

In [122]:
# Reverse the array
np.flip(a4)

array([29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13,
       12, 11, 10])

In [123]:
a3 = np.array([[3,2,8,1] , [70,50,10,67] , [45,25,75,15] , [12,9,77,4]])
a3

array([[ 3,  2,  8,  1],
       [70, 50, 10, 67],
       [45, 25, 75, 15],
       [12,  9, 77,  4]])

In [124]:
# Reverse ROW positions
a3[::-1,]

array([[12,  9, 77,  4],
       [45, 25, 75, 15],
       [70, 50, 10, 67],
       [ 3,  2,  8,  1]])

In [125]:
# Reverse COLUMN positions
a3[:,::-1]

array([[ 1,  8,  2,  3],
       [67, 10, 50, 70],
       [15, 75, 25, 45],
       [ 4, 77,  9, 12]])

In [126]:
# Reverse both ROW & COLUMN positions
a3[::-1,::-1]

array([[ 4, 77,  9, 12],
       [15, 75, 25, 45],
       [67, 10, 50, 70],
       [ 1,  8,  2,  3]])

# Sorting Array

In [127]:
a = np.array([10,5,2,22,12,92,17,33])

In [128]:
# Sort array in ascending order
np.sort(a)

array([ 2,  5, 10, 12, 17, 22, 33, 92])

In [129]:
a3 = np.array([[3,2,8,1] , [70,50,10,67] , [45,25,75,15]])
a3

array([[ 3,  2,  8,  1],
       [70, 50, 10, 67],
       [45, 25, 75, 15]])

In [130]:
# Sort along rows
np.sort(a3)

array([[ 1,  2,  3,  8],
       [10, 50, 67, 70],
       [15, 25, 45, 75]])

In [131]:
# Sort along rows
np.sort(a3,axis =1)

array([[ 1,  2,  3,  8],
       [10, 50, 67, 70],
       [15, 25, 45, 75]])

In [132]:
# Sort along columns
np.sort(a3,axis =0)

array([[ 3,  2,  8,  1],
       [45, 25, 10, 15],
       [70, 50, 75, 67]])

In [133]:
# Sort in descending order
b = np.sort(a)
b = b[::-1]
b

array([92, 33, 22, 17, 12, 10,  5,  2])

In [134]:
# Sort in descending order
c = np.sort(a)
np.flip(c)

array([92, 33, 22, 17, 12, 10,  5,  2])

In [135]:
# Sort in descending order
a[::-1].sort()
a

array([92, 33, 22, 17, 12, 10,  5,  2])

# "N" Largest & Smallest Numbers in an Array

In [136]:
p = np.arange(0,50)
p

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [137]:
np.random.shuffle(p)
p

array([27, 26, 35, 41, 45, 43,  6,  4, 34, 16,  3,  1, 31, 25, 48, 40, 21,
        2, 13, 47,  5, 37, 14, 23, 32, 22,  8, 20, 44, 28, 36, 10, 30, 19,
       24, 29, 33, 42, 11, 17, 12,  0, 15, 49,  7, 18,  9, 46, 38, 39])

In [139]:
# Return "n" largest numbers in an Array
n = 4
p[np.argsort(p)[-n:]]

array([46, 47, 48, 49])

In [140]:
# Return "n" largest numbers in an Array
p[np.argpartition(-p,n)[:n]]

array([48, 49, 47, 46])

In [141]:
# Return "n" smallest numbers in an Array
p[np.argsort(-p)[-n:]]

array([3, 2, 1, 0])

In [142]:
# Return "n" smallest numbers in an Array
p[np.argpartition(p,n)[:n]]

array([1, 0, 2, 3])

# Repeating Sequences

In [143]:
a5 = [10,20,30] 
a5

[10, 20, 30]

In [144]:
# Repeat whole array twice
np.tile(a5, 2)

array([10, 20, 30, 10, 20, 30])

In [145]:
# Repeat each element in an array thrice
np.repeat(a5, 3)

array([10, 10, 10, 20, 20, 20, 30, 30, 30])

# Compare Arrays

In [146]:
d1 = np.arange(0,10)
d1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [147]:
d2 = np.arange(0,10)
d2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [148]:
d3 = np.arange(10,20)
d3

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [149]:
d4 = d1[::-1]
d4

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [150]:
# Compare arrays using "allclose" function. If this function returns True then Arrays are equal
res1 = np.allclose(d1,d2)
res1

True

In [151]:
# Compare arrays using "allclose" function. If this function returns False then Arrays are not equal
res2 = np.allclose(d1,d3)
res2

False

In [152]:
# Compare arrays using "allclose" function.
res3 = np.allclose(d1,d4)
res3

False

# Frequent Values in an Array

In [153]:
# unique numbers in an array
b = np.array([10,10,10,20,30,20,30,30,20,10,10,30,10])
np.unique(b)

array([10, 20, 30])

In [154]:
# unique numbers in an array along with the count E.g value 10 occurred maximum times (5 times) in an array "b"
val , count = np.unique(b,return_counts=True)
val,count

(array([10, 20, 30]), array([6, 3, 4], dtype=int64))

In [155]:
# 10 is the most frequent value 
np.bincount(b).argmax()

10

# Read-Only Array

In [156]:
d5 = np.arange(10,100,10)
d5

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

In [157]:
# Make arrays immutable  
d5.flags.writeable = False

In [158]:
d5[0] = 99

ValueError: assignment destination is read-only

In [159]:
d5[2] = 11

ValueError: assignment destination is read-only

# Load & Save

In [160]:
# Load data from a text file using loadtext
p4 = np.loadtxt('sample.txt', 
                dtype = np.integer # Decides the datatype of resulting array
               )
p4

array([[24, 29, 88],
       [ 1,  0,  8],
       [33,  7, 99],
       [39, 11, 98],
       [22, 76, 87]])

In [161]:
# Load data from a text file using genfromtxt
p5 = np.genfromtxt('sample0.txt',dtype='str')
p5

array([['Asif', 'India', 'Cricket'],
       ['John', 'USA', 'Hockey'],
       ['Ramiro', 'Canada', 'Football']], dtype='<U8')

In [162]:
# Accessing specific rows
p5[0]

array(['Asif', 'India', 'Cricket'], dtype='<U8')

In [ ]:
# Accessing specific columns
p5[:,0]

In [ ]:
p6 = np.genfromtxt('sample2.txt', 
                   delimiter=' ', 
                   dtype=None, 
                   names=('Name', 'ID', 'Age')
                  )
p6

In [ ]:
# Skip header using "skiprows" parameter
p6 = np.loadtxt('sample2.txt', 
                   delimiter=' ', 
                   dtype=[('Name', str, 50), ('ID', np.integer), ('Age', np.integer)], 
                   skiprows=1
                  )
p6

In [ ]:
# Return only first & third column using "usecols" parameter
np.loadtxt('sample.txt', delimiter =' ', usecols =(0, 2))

In [ ]:
# Return only three rows using "max_rows" parameter
p6 = np.loadtxt('sample2.txt', 
                   delimiter=' ', 
                   dtype=[('Name', str, 50), ('ID', np.integer), ('Age', np.integer)], 
                   skiprows=1,
                   max_rows = 3
                  )
p6

In [ ]:
# Skip header using "skip_header" parameter
p6 = np.genfromtxt('sample2.txt', 
                   delimiter=' ', 
                   dtype=[('Name', str, 50), ('ID', np.integer), ('Age', np.float)], 
                   names=('Name', 'ID', 'Age'),
                   skip_header=1
                  )
p6

In [ ]:
p7 = np.arange(10,200,11)
p7

In [ ]:
np.savetxt('test3.csv', p7, delimiter=',')

In [ ]:
p8 = np.arange(0,121).reshape(11,11)
p8

In [ ]:
np.save('test4.npy', p8)

In [ ]:
p9 = np.load('test4.npy')
p9

In [ ]:
np.save('numpyfile', p8)

In [ ]:
p10 = np.load('numpyfile.npy')
p10

In [ ]:
p11 = np.arange(0,1000000).reshape(1000,1000)
p11

In [ ]:
# Save Numpy array to a compressed file
np.savez_compressed('test6.npz', p11)

In [ ]:
# Save Numpy array to a npy file
np.save('test7.npy', p11)

In [ ]:
# Compressed file size is much lesser than normal npy file
Image(filename='load_save.PNG')

# Printing Options

In [ ]:
# Display values upto 4 decimal place
np.set_printoptions(precision=4)
a = np.array([12.654398765 , 90.7864098354674])
a

In [ ]:
# Display values upto 2 decimal place
np.set_printoptions(precision=2)
a = np.array([12.654398765 , 90.7864098354674])
a

In [ ]:
# Array Summarization
np.set_printoptions(threshold=3)
np.arange(200)

In [ ]:
# Reset Formatter
np.set_printoptions(precision=8,suppress=False, threshold=1000, formatter=None)
a = np.array([12.654398765 , 90.7864098354674])
a

In [ ]:
np.arange(1,1100)

In [ ]:
# Display all values
np.set_printoptions(threshold=np.inf)
np.arange(1,1100)

# Vector Addition

In [ ]:
v1 = np.array([1,2])
v2 = np.array([3,4])
v3 = v1+v2
v3 = np.add(v1,v2)
print('V3 =' ,v3)

# Multiplication of vectors

In [ ]:
a1 = [5 , 6 ,8]
a2 = [4, 7 , 9]
print(np.multiply(a1,a2))

# Dot Product

https://www.youtube.com/watch?v=WNuIhXo39_k

https://www.youtube.com/watch?v=LyGKycYT2v0

In [ ]:
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])

dotp = a1@a2
print(" Dot product - ",dotp)

dotp = np.dot(a1,a2)
print(" Dot product usign np.dot",dotp)

dotp = np.inner(a1,a2)
print(" Dot product usign np.inner", dotp)

dotp = sum(np.multiply(a1,a2))
print(" Dot product usign np.multiply & sum",dotp)

dotp = np.matmul(a1,a2)
print(" Dot product usign np.matmul",dotp)

dotp = 0
for i in range(len(a1)):
    dotp = dotp + a1[i]*a2[i]
print(" Dot product usign for loop" , dotp)

# Length of Vector

In [ ]:
v3 = np.array([1,2,3,4,5,6])
length = np.sqrt(np.dot(v3,v3))
length

In [ ]:
v3 = np.array([1,2,3,4,5,6])
length = np.sqrt(sum(np.multiply(v3,v3)))
length

In [ ]:
v3 = np.array([1,2,3,4,5,6])
length = np.sqrt(np.matmul(v3,v3))
length

# Normalized Vector

How to normalize a vector : https://www.youtube.com/watch?v=7fn03DIW3Ak

In [ ]:
#First Method
v1 = [2,3]
length_v1 = np.sqrt(np.dot(v1,v1))
norm_v1 = v1/length_v1
length_v1 , norm_v1

In [ ]:
#Second Method
v1 = [2,3]
norm_v1 = v1/np.linalg.norm(v1)
norm_v1

# Angle between vectors

In [ ]:
#First Method
v1 = np.array([8,4])
v2 = np.array([-4,8])
ang = np.rad2deg(np.arccos( np.dot(v1,v2) / (np.linalg.norm(v1)*np.linalg.norm(v2))))
ang

In [ ]:
#Second Method
v1 = np.array([4,3])
v2 = np.array([-3,4])
lengthV1 = np.sqrt(np.dot(v1,v1)) 
lengthV2  = np.sqrt(np.dot(v2,v2))
ang = np.rad2deg(np.arccos( np.dot(v1,v2) / (lengthV1 * lengthV2)))
print('Angle between Vectors - %s' %ang)

# Inner & outer products

Inner and Outer Product :

https://www.youtube.com/watch?v=FCmH4MqbFGs&t=2s

https://www.youtube.com/watch?v=FCmH4MqbFGs

In [ ]:
v1 = np.array([1,2,3])
v2 = np.array([4,5,6])
np.inner(v1,v2)

print("\n Inner Product ==>  \n", np.inner(v1,v2))
print("\n Outer Product ==>  \n", np.outer(v1,v2))

# Vector Cross Product

In [ ]:
v1 = np.array([1,2,3])
v2 = np.array([4,5,6])
print("\nVector Cross Product ==>  \n", np.cross(v1,v2))

# Matrix Creation

In [ ]:
# Create a 4x4 matrix
A = np.array([[1,2,3,4] , [5,6,7,8] , [10 , 11 , 12 ,13] , [14,15,16,17]])
A

In [ ]:
# Datatype of Matrix
A.dtype

In [ ]:
B = np.array([[1.5,2.07,3,4] , [5,6,7,8] , [10 , 11 , 12 ,13] , [14,15,16,17]])
B

In [ ]:
# Datatype of Matrix
B.dtype

In [ ]:
# Shape of Matrix
A.shape

In [ ]:
# Generate a 4x4 zero matrix
np.zeros((4,4))

In [ ]:
#Shape of Matrix
z1 = np.zeros((4,4))
z1.shape

In [ ]:
# Generate a 5x5 matrix filled with ones
np.ones((5,5))

In [ ]:
# Return 10x10 matrix of random integer numbers between 0 to 500
np.random.randint(0,500, (10,10))

In [ ]:
arr2

In [ ]:
arr2.reshape(5,4)

In [ ]:
mat1 = np.random.randint(0,1000,100).reshape(10,10)
mat1

In [ ]:
mat1[0,0]

In [ ]:
mat1[mat1 > 500]

In [ ]:
# Identity Matrix : https://en.wikipedia.org/wiki/Identity_matrix

I = np.eye(9)
I

In [ ]:
# Diagonal Matrix : https://en.wikipedia.org/wiki/Diagonal_matrix

D = np.diag([1,2,3,4,5,6,7,8])
D

In [ ]:
# Traingular Matrices (lower & Upper triangular matrix) : https://en.wikipedia.org/wiki/Triangular_matrix

M = np.random.randn(5,5)
U = np.triu(M)
L = np.tril(M)
print("lower triangular matrix - \n" , M)
print("\n")


print("lower triangular matrix - \n" , L)
print("\n")

print("Upper triangular matrix - \n" , U)

In [ ]:
# Generate a 5X5 matrix with a given fill value of 8
np.full((5,5) , 8)

In [ ]:
# Generate 5X5 matrix of Random float numbers between 10 to 20
np.random.uniform(10,20, size=(5,5))

In [ ]:
A

In [ ]:
# Collapse Matrix into one dimension array
A.flatten()

In [ ]:
# Collapse Matrix into one dimension array
A.ravel()

# Reading elements of a Matrix

In [ ]:
A

In [ ]:
# Fetch first row of matrix
A[0,]

In [ ]:
# Fetch first column of matrix
A[:,0]

In [ ]:
# Fetch first element of the matrix
A[0,0]

In [ ]:
A[1:3 , 1:3]

# Reverse Rows / Columns of a Matrix

In [ ]:
arr = np.arange(16).reshape(4,4)
arr

In [ ]:
# Reverse rows
arr[::-1]

In [ ]:
#Reverse Columns
arr[:, ::-1]

# SWAP Rows & Columns

In [ ]:
m1 = np.arange(0,16).reshape(4,4)
m1

In [ ]:
# SWAP rows 0 & 1
m1[[0,1]] = m1[[1,0]]
m1

In [ ]:
# SWAP rows 2 & 3
m1[[3,2]] = m1[[2,3]]
m1

In [ ]:
m2 = np.arange(0,36).reshape(6,6)
m2

In [ ]:
# Swap columns 0 & 1
m2[:,[0, 1]] = m2[:,[1, 0]]
m2

In [ ]:
# Swap columns 2 & 3
m2[:,[2, 3]] = m2[:,[3, 2]]
m2

# Concatenate Matrices

Matrix Concatenation : https://docs.scipy.org/doc/numpy/reference/generated/numpy.concatenate.html

In [ ]:
A = np.array([[1,2] , [3,4] ,[5,6]])
B = np.array([[1,1] , [1,1]])
C = np.concatenate((A,B))
C

# Matrix Addition

Matrix Addition : https://www.youtube.com/watch?v=ZCmVpGv6_1g

In [ ]:
#********************************************************#
M = np.array([[1,2,3],[4,-3,6],[7,8,0]])
N = np.array([[1,1,1],[2,2,2],[3,3,3]])

print("\n First Matrix (M)  ==>  \n", M)
print("\n Second Matrix (N)  ==>  \n", N)

C = M+N
print("\n Matrix Addition (M+N)  ==>  \n", C)

# OR

C = np.add(M,N,dtype = np.float64)
print("\n Matrix Addition using np.add  ==>  \n", C)

#********************************************************#

# Matrix subtraction

Matrix subtraction : https://www.youtube.com/watch?v=7jb_AO_hRc8&list=PLmdFyQYShrjcoVkhCCIwxNj9N4rW1-T5I&index=8

In [ ]:
#********************************************************#
M = np.array([[1,2,3],[4,-3,6],[7,8,0]])
N = np.array([[1,1,1],[2,2,2],[3,3,3]])

print("\n First Matrix (M)  ==>  \n", M)
print("\n Second Matrix (N)  ==>  \n", N)

C = M-N
print("\n Matrix Subtraction (M-N)  ==>  \n", C)

# OR

C = np.subtract(M,N,dtype = np.float64)
print("\n Matrix Subtraction using np.subtract  ==>  \n", C)

#********************************************************#

# Matrices Scalar Multiplication

Matrices Scalar Multiplication : https://www.youtube.com/watch?v=4lHyTQH1iS8&list=PLmdFyQYShrjcoVkhCCIwxNj9N4rW1-T5I&index=9

In [ ]:
M = np.array([[1,2,3],[4,-3,6],[7,8,0]])

C = 10

print("\n Matrix (M)  ==>  \n", M)

print("\nMatrices Scalar Multiplication ==>  \n", C*M)

# OR

print("\nMatrices Scalar Multiplication ==>  \n", np.multiply(C,M))

# Transpose of a matrix

Transpose of a matrix : https://www.youtube.com/watch?v=g_Rz94DXvNo&list=PLmdFyQYShrjcoVkhCCIwxNj9N4rW1-T5I&index=13

In [ ]:
M = np.array([[1,2,3],[4,-3,6],[7,8,0]])

print("\n Matrix (M)  ==>  \n", M)

print("\nTranspose of M ==>  \n", np.transpose(M))

# OR

print("\nTranspose of M ==>  \n", M.T)

# Determinant of a matrix

Determinant of a matrix :

https://www.youtube.com/watch?v=21LWuY8i6Hw&t=88s
    
https://www.youtube.com/watch?v=Ip3X9LOh2dk&list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab&index=6

In [ ]:
M = np.array([[1,2,3],[4,-3,6],[7,8,0]])

print("\n Matrix (M)  ==>  \n", M)

print("\nDeterminant of M ==>  ", np.linalg.det(M))

# Rank of a matrix

In [ ]:
M = np.array([[1,2,3],[4,-3,6],[7,8,0]])

print("\n Matrix (M)  ==>  \n", M)

print("\nRank of M ==> ", np.linalg.matrix_rank(M))

# Trace of matrix

In [ ]:
M = np.array([[1,2,3],[4,-3,6],[7,8,0]])

print("\n Matrix (M)  ==>  \n", M)

print("\nTrace of M ==> ", np.trace(M))

# Inverse of matrix A

Inverse of matrix : https://www.youtube.com/watch?v=pKZyszzmyeQ

In [ ]:
M = np.array([[1,2,3],[4,-3,6],[7,8,0]])

print("\n Matrix (M)  ==>  \n", M)

print("\nInverse of M ==> \n", np.linalg.inv(M))

# Matrix Multiplication (pointwise multiplication)

In [ ]:
M = np.array([[1,2,3],[4,-3,6],[7,8,0]])
N = np.array([[1,1,1],[2,2,2],[3,3,3]])

print("\n First Matrix (M)  ==>  \n", M)
print("\n Second Matrix (N)  ==>  \n", N)

print("\n Point-Wise Multiplication of M & N  ==> \n", M*N)

# OR

print("\n Point-Wise Multiplication of M & N  ==> \n", np.multiply(M,N))

# Matrix dot product

Matrix Multiplication :

https://www.youtube.com/watch?v=vzt9c7iWPxs&t=207s

https://www.youtube.com/watch?v=XkY2DOUCWMU&list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab&index=4

In [ ]:
M = np.array([[1,2,3],[4,-3,6],[7,8,0]])
N = np.array([[1,1,1],[2,2,2],[3,3,3]])

print("\n First Matrix (M)  ==>  \n", M)
print("\n Second Matrix (N)  ==>  \n", N)

print("\n Matrix Dot Product ==> \n", M@N)

# OR

print("\n Matrix Dot Product using np.matmul ==> \n", np.matmul(M,N))

# OR

print("\n Matrix Dot Product using np.dot ==> \n", np.dot(M,N))

# Matrix Division

In [ ]:
M = np.array([[1,2,3],[4,-3,6],[7,8,0]])
N = np.array([[1,1,1],[2,2,2],[3,3,3]])

print("\n First Matrix (M)  ==>  \n", M)
print("\n Second Matrix (N)  ==>  \n", N)


print("\n Matrix Division (M/N)   ==> \n", M/N)

# OR

print("\n Matrix Division (M/N)   ==> \n", np.divide(M,N))

# Sum of all elements in a matrix

In [ ]:
N = np.array([[1,1,1],[2,2,2],[3,3,3]])

print("\n Matrix (N)  ==>  \n", N)


print ("Sum of all elements in a Matrix  ==>")
print (np.sum(N))

# Column-Wise Addition

In [ ]:
N = np.array([[1,1,1],[2,2,2],[3,3,3]])

print("\n Matrix (N)  ==>  \n", N)

print ("Column-Wise summation ==> ")
print (np.sum(N,axis=0))

# Row-Wise Addition

In [ ]:
N = np.array([[1,1,1],[2,2,2],[3,3,3]])

print("\n Matrix (N)  ==>  \n", N)

print ("Row-Wise summation  ==>")
print (np.sum(N,axis=1))

# Kronecker Product of matrices

Kronecker Product of matrices : https://www.youtube.com/watch?v=e1UJXvu8VZk

In [ ]:
M1 = np.array([[1,2,3] , [4,5,6]]) 
M1

In [ ]:
M2 = np.array([[10,10,10],[10,10,10]])
M2

In [ ]:
np.kron(M1,M2)

# Matrix Powers

In [ ]:
M1 = np.array([[1,2],[4,5]])
M1

In [ ]:
#Matrix to the power 3

M1@M1@M1

In [ ]:
#Matrix to the power 3

np.linalg.matrix_power(M1,3)

# Tensor

What is Tensor :
   - https://www.youtube.com/watch?v=f5liqUk0ZTw
   - https://www.youtube.com/watch?v=bpG3gqDM80w&t=634s
   - https://www.youtube.com/watch?v=uaQeXi4E7gA

In [ ]:
# Create Tensor

T1 = np.array([
  [[1,2,3],    [4,5,6],    [7,8,9]],
  [[10,20,30], [40,50,60], [70,80,90]],
  [[100,200,300], [400,500,600], [700,800,900]],
  ])

T1

In [ ]:
T2 = np.array([
  [[0,0,0] , [0,0,0] , [0,0,0]],
  [[1,1,1] , [1,1,1] , [1,1,1]],
  [[2,2,2] , [2,2,2] , [2,2,2]]
    
])

T2

# Tensor Addition

In [ ]:
A = T1+T2
A

In [ ]:
np.add(T1,T2)

# Tensor Subtraction

In [ ]:
S = T1-T2
S

In [ ]:
np.subtract(T1,T2)

# Tensor Element-Wise Product

In [ ]:
P = T1*T2
P

In [ ]:
np.multiply(T1,T2)

# Tensor Element-Wise Division

In [ ]:
D = T1/T2
D

In [ ]:
np.divide(T1,T2)

# Tensor Dot Product

In [ ]:
T1

In [ ]:
T2

In [ ]:
np.tensordot(T1,T2)

# Solving Equations $$AX = B$$

Solving Equations : 
   - https://www.youtube.com/watch?v=NNmiOoWt86M
   - https://www.youtube.com/watch?v=a2z7sZ4MSqo

In [ ]:
A = np.array([[1,2,3] , [4,5,6] , [7,8,9]])
A

In [ ]:
B = np.random.random((3,1))
B

In [ ]:
# Ist Method
X = np.dot(np.linalg.inv(A) , B)
X

In [ ]:
# 2nd Method
X = np.matmul(np.linalg.inv(A) , B)
X

In [ ]:
# 3rd Method
X = np.linalg.inv(A)@B
X

In [ ]:
# 4th Method
X = np.linalg.solve(A,B)
X

# END